<div class="container">
  <h2>Select Your Security Questions:</h2>
  <div class="sec1">
    <select
      class="security"
      name="security1"
      (change)="selectChangeHandler($event)"
    >
      <option *ngFor="let que of secQues; let i = index" [id]="que.key">
        {{ que.question }}
      </option>
    </select>

    <div class="que">
      <label for="ans">Your Answer: </label>
      <input id="ans" type="text" [formControl]="ans" />
    </div>
  </div>

  <div class="sec1">
    <select
      class="security"
      name="security1"
      (change)="selectChangeHandler1($event)"
    >
      <option *ngFor="let que of secQues; let i = index" [id]="que.key">
        {{ que.question }}
      </option>
    </select>

    <div class="que">
      <label for="ans1">Your Answer: </label>
      <input id="ans1" type="text" [formControl]="ans1" />
    </div>
  </div>

  <button (click)="onSave()" class="button">Submit Your Response !</button>
</div>
