<div class="hero-image"></div>
<div class="container">
  <div class="section-offer">
    <div class="flex-center">
      <div class="col-left">
        <img
          src="../../../assets/images/poster5.jpg"
          width="500px"
          height="250px"
          class="image-offer"
        />
        <img
          src="../../../assets/images/poster6.jpg"
          alt="offer2"
          width="500px"
          height="250px"
          class="image-offer"
        />
      </div>
      <div class="col-right">
        <img
          src="../../../assets/images/poster4.png"
          alt="offer3"
          height="500px"
          class="image-offer"
        />
      </div>
    </div>
  </div>
  <h1
    class="top-picks"
    style="font-size: 28px; font-weight: bold; margin-left: 7%"
  >
    Top Picks
  </h1>
  <div class="product-list">
    <div *ngFor="let item of products">
      <app-product-card [product]="item"></app-product-card>
    </div>
  </div>
</div>
