<nav>
  <div class="container">
    <div class="top-bar flex-space-between">
      <div class="top-bar-links">
        <a href="#" class="top-bar-link">Support</a>
        <a href="#" class="top-bar-link">Delivery</a>
        <a href="#" class="top-bar-link">Legal</a>
        <a href="#" class="top-bar-link">About Us</a>
      </div>
      <div class="top-bar-buttons">
        <a href="#">
          <button class="btn">LogIn</button>
        </a>
        <a href="#">
          <button class="btn btn-active">Register</button>
        </a>
      </div>
    </div>
  </div>
</nav>
