<div class="example-card">
  <mat-card>
    <img
      mat-card-image
      src="{{ product.img }}"
      alt="Photo of a Shiba Inu"
      class="product-image"
      width="180px"
      height="200px"
    />
    <mat-card-content class="product-content">
      <div class="product-name">{{ product.name }} {{ product.type }}</div>
      <div class="prce flex-center">
        <div class="product-price">
          ${{ product.actualPrice - product.discountedPrice }}
        </div>
        <div class="actual-price">${{ product.actualPrice }}</div>
      </div>
    </mat-card-content>
    <div class="btn-wishlist flex-center">
      <div class="btn-title">Add to Wishlist</div>
      <i class="fa fa-heart"></i>
    </div>
    <div class="btn-view-product">View Product</div>
  </mat-card>
</div>
