.header {
  background-color: white;
  padding: 5px 0px;
}
/* 
.header-wrap {
} */

.header-link {
  padding: 12px 15px;
  margin-right: 15px;
  border-bottom: 2px solid rgba(0, 0, 255, 0);
  cursor: pointer;
}

.logo {
  margin-left: 16px;
  cursor: pointer;
}

.active-link {
  font-weight: bold;
  color: green;
  border-bottom: 2px solid green;
}
