<div class="header">
  <div class="container">
    <div class="header-wrap flex-space-between">
      <a routerLink="/">
        <div class="logo">
          <img src="../../../../assets/images/Logo-USA(2x).png" alt="logo" />
        </div>
      </a>
      <div class="header-links flex-space-between">
        <a
          routerLink="/"
          class="header-link"
          routerLinkActive="active-link"
          [routerLinkActiveOptions]="{ exact: true }"
          ><div>Home</div></a
        >
        <a routerLink="/" class="header-link"><div>Women</div></a>
        <a routerLink="/" class="header-link"><div>Men</div></a>
        <a routerLink="/" class="header-link"><div>Offers</div></a>
      </div>
    </div>
  </div>
</div>
