<div class="header">
  <div class="container">
    <div class="header-wrap flex-space-between">
      <div class="logo">
        <img src="../../../../assets/images/Logo-USA(2x).png" alt="logo" />
      </div>
      <div class="header-links flex-space-between">
        <a href="" class="header-link"><div>Home</div></a>
        <a href="" class="header-link"><div>Women</div></a>
        <a href="" class="header-link"><div>Men</div></a>
        <a href="" class="header-link"><div>Offers</div></a>
      </div>
    </div>
  </div>
</div>
